{% extends 'admin.html.twig' %}

{% block content %}

    <div uk-grid>
    <div>
    <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Réservations</h3>
    <a class="uk-button uk-button-primary" href="/admin/resa/add">Ajouter une nouvelle réservation</a>
<table class="uk-table uk-table-divider">
<thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Numéro de Téléphone</th>
            <th>E-Mail</th>
            <th>Menu</th>
            <th>Date</th>
            <th>Nb de personnes</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{reservation.nom}}</td>
            <td>{{reservation.prenom}}</td>
            <td>{{reservation.adresse}}</td>
            <td>{{reservation.tel}}</td>
            <td>{{reservation.email}}</td>
            <td>{{reservation.menu_nom}}</td>
            <td>{{reservation.date}}</td>
            <td>{{reservation.nombrepersonnes}}</td>
            <td>
                <a href="/admin/resa/edit?id={{ reservation.id }}" uk-icon="icon: pencil"></a>
                <a href="" uk-icon="icon: trash"></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan='8'>Pas de données</td>
        </tr>
        {% endfor %} 
    </tbody>
</table>
    </div>
    </div>
    </div>
    {% endblock %}