{% extends "layout.html.twig" %}

{% block content %}
	<div uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<h3 class="uk-card-title">Vos produits</h3>
				<a class="uk-button-large" href="produits/add">Ajoutez un nouveau produit</a>
				<table class="uk-table uk-table-hover uk-table-divider">

					<thead>
						<tr>
							<th>nom</th>
							<th>type</th>
							<th>sous-type</th>
						</tr>
					</thead>

					<tbody>
						{% for produit in produits %}
							<tr>
								<td>{{ produit.nom }}</td>
								<td>{{ produit.type }}</td>
								<td>{{ produit.sous_type }}</td>
								<td>
									<a href="produits/edit?id={{ produit.id }}" uk-icon="icon: pencil"></a>
									<a href="produits/delete?id={{ produit.id }}" uk-icon="icon: trash"></a>
								</td>
							</tr>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">Pas de donnée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>{% endblock %}
